.weather_day__item{
    width:100%;
    height:200px;
    background:rgb(218, 160, 255);
    color:#445884;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 61px 21px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 61px 21px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 61px 21px rgba(0,0,0,0.31);
}
.weather_day__item h1 {
    margin-bottom:0px;
    margin-top:-45px;
    color:white;
}
.weather_day__item img {
    margin-top:20px;
}
.weather_day__text{
    color:black;
    font-size: 18px;
    font-weight: 700;
    margin-top:5px;
}